{% extends "base.html" %}
{% block content %}
{% for i in post %}
<h3>{{ i.title}}</h3>
<p>by {{ i.author }} on {{ i.date }}</p>
<p>
	<span class="message">
		{{ i.post|urlize|linebreaks }}
	</span>
</p>
<br />
{% endfor %}
{% if comments %}
<h4>Comments ({{ comments|length }})</h4>
{% for comment in comments%}
<p>{{ comment.author }} commented on {{ comment.date }}:</p>
<p>{{ comment.comment|linebreaks }}</p>
{% endfor %}
{% endif %}
<h4>Submit a comment:</h4>
<form action="" method="POST">
	{{ comment_form.as_p }}
	{% csrf_token %}
	<input type="submit" value="Post Comment!" />
</form>

{% endblock %}