	body {
		font-family: Arial, Verdana, Courier;
		background-color: #CCC;
	}
	a {
		color: #0066cc;
		text-decoration: none;
	}
	a:hover {
		color: #CCC;
	}
	a:visited {
		color: #0099FF;
		text-decoration: none;
	}